<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.we.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="C:\Users\dario\Documents\2024-1\Dev aplicaciones emp\Proyectos\logs\BarberiAppPersona\NLogGeneralPersona.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="event_logs" fileName="C:\Users\dario\Documents\2024-1\Dev aplicaciones emp\Proyectos\logs\BarberiAppPersona\NLogEventPersona.txt"></target>
		<target xsi:type="File" name="audit_logs" fileName="C:\Users\dario\Documents\2024-1\Dev aplicaciones emp\Proyectos\logs\BarberiAppPersona\NLogAuditPersona.txt"></target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="event_logs"/>
		<logger name="BarberiAppPersona.Controllers.EmpleadoController" minlevel="Warn" writeTo="audit_logs"/>
		<!--logger name="BarberiAppPersona.Controllers.ClienteController" minlevel="Warn" writeTo="audit_logs"/>
		<logger name="BarberiAppPersona.Controllers.AdminPlatController" minlevel="Warn" writeTo="audit_logs"/>
		<logger name="BarberiAppPersona.Controllers.AdminNegController" minlevel="Warn" writeTo="audit_logs"/-->
	</rules>
</nlog>